# Extraction
tweepy
praw
kagglehub[pandas-datasets]

# Configuration
yfinance
vaderSentiment

# Data Processing & NLP
pandas
numpy
nltk
transformers
spacy
tqdm
scipy
statsmodels

# Visualisation
matplotlib
seaborn

